<launch>

	<param name = "forward" value = "w"/>
	<param name = "backward" value = "s"/>
	<param name = "left" value = "a"/>
	<param name = "right" value = "d"/>
	
	<node pkg="turtle_controller" name="talker" type="talker.py" required="true"/>

	<node pkg="turtlesim" name="turtle1" type="turtlesim_node"/>
  
</launch>
